* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color:#666;
  font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体";
}

h1 {
  font-size: 120px;
  font-family: serif;
  text-align: center;
  font-weight: 600;
  font-style: italic;
  color: white;
  text-shadow:3px 3px 15px rgba(31, 38, 135, 0.2);
}

header {
  padding: 40px 0 0;
}

.app {
  background-image: url(../src/images/mainbg03.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center center;
}

.taskCard {
  border-radius: 3px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 250px;
  padding: 30px 25px;
  margin: 10px 1%;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.2);
}

.taskCardTitleArea {
  cursor: pointer;
  color: #555;
  width:80%;
}
.taskCardTitleInput {
  padding: 5px 10px;
  border: none;
  width: 90%;
  outline: none;
  font-size: 18px;
}

.taskAddInput {
  font-size: 16px;
  padding: 5px 10px;
  background-color:rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.2);
  outline: none;
  width: 100%;
  margin: 20px 0;
}
.trashButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition:opacity .3s;
}
.trashButton:hover{
  opacity:.5;
}

.taskBox {
  background-color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  width:100%;
}

.taskCardArea {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  max-width:1300px;
  margin:0 auto;
}

.addTaskCardButtonArea {
  margin-left: 1%;
  margin-top:60px;
}

.addTaskCardButton {
  padding: 18px 25px;
  font-size: 20px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.2);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  transition: all 0.3s;
}

.addTaskCardButton:hover {
  transform: translate(3px, 3px);
  box-shadow: none;
}

.fa-plus{
  color:rgba(58, 58, 58, 0.4);
}

.taskCardTitleAndTasCardDeleteButtonArea {
  display: flex;
  justify-content: space-between;
}

.taskCardDeleteButton {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  opacity:.8;
  transition:opacity .3s;
}

.taskCardDeleteButton:hover{
  opacity:.5;
} 